
  
  .App {
    
    display: flex;
    justify-content: space-between;
  }
  
  .form-field {
    flex: 2;
  }
  
  .add{
    background-color: orange;
    background-image: -webkit-linear-gradient(75deg, orange 50%, rgb(248, 177, 45) 50%);
    border: orange;
    border-radius: 8px;
}
  
  input {
    
    width: 100%;
    padding: 7px;
    outline: none;
    border-radius: 8px;
   
  }
  

  .services {
    display: flex;
    justify-content: space-between;
  }

  .first-division {
    display: flex;
    flex-direction: column;
    margin: 0 5px 0.5rem 0;
    width: 100%;
  }

  button {
    background: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 2px;
    padding: 5px 10px;
  }

  .first-division button {
    align-self: flex-start;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    
  }
  
  