.unOccupiedGradient {
  background: linear-gradient(90deg, #ffbe15 7.22%, #f38b1c 89.58%);
  border-radius: 10px;
}

.occupiedGradient {
  background: linear-gradient(164.27deg, #a7a7a7 -5.03%, #bbbbbb 85.91%);
  border-radius: 10px;
}
